<html>
<head>
{% if refresh %}
<meta http-equiv="refresh" content="60">
{% endif %}
</head>
<body>
<h2>Period<h2>
{% for p in ['hour', 'day', 'week', 'month', 'year'] %}
  {% if period == p %}{{ p }} {% else %}<a href='?period={{ p }}&amp;pattern={{ patterna }}'>{{ p }}</a> {% endif %}
{% endfor %}

<form action="" method="get">
<input name="pattern" value="{{ patterna }}" style="width: 50%"/>
<input name="period" value="{{ period }}" type="hidden"/>
</form>

<h1>Graphs</h1>
{% for host in hosts %}
  <h2>{{ host }}</h2>
  {% for plugin in plugins[host] %}
    <h3><a href="{{ plugin }}/?period={{ period }}&amp;pattern={{ patterna }}">{{ plugin }}</a></h3>
    {% for graph in graphs[host][plugin] %}
     <img src="{{ graph }}"><br/>
    {% endfor %}
  {% endfor %}
{% endfor %}
</ul>
</body>
</html>
